$smallNavDuration: 0.25s;
$smallNavEasing: $ease-in-out-sine;
$reorganizeNavAt: 1150px;

header { 
	position: fixed; 
	left:0; right:0;
	z-index: 13;
	
}

.header-logo {
	position: absolute;
	top: 40px; left:0; 
	display: block;
	
	height:0; overflow: hidden;
	text-indent: -999em;
	height: 54px; width: 231px;
	@include transition( $smallNavDuration top $smallNavEasing, opacity 0.2s $ease-in-out-sine 0.4s );
	
	.show-nav &,
	.show-nav-overlay & {
		opacity:0;
		@include transition-delay( 0s );
	}

	&:before,
	&:after {
		content:"";
		top:0; left:0; bottom:0;
		position: absolute;
		background-size: cover;
		@include transition( $smallNavDuration all $smallNavEasing );
	}
	
	&:before {
		width: 54px;
		background: url(../images/ecmb-logo-art.svg) 0 0 no-repeat;
		opacity:0;
		right:0; 
		margin: 0 auto;
	}
	
	&:after {
		width: 231px;
		background: url(../images/ecmb-logo.svg) center no-repeat;
	}
	
	.small-nav & {
		top:-2px;
		&:after {
			@include transform( scale(0.7,0.7) );
		}
	}
	
}

@media screen and (max-width: $collapseNavAt) {
	header { position: absolute; }
	.header-logo {
		right:0; 
		margin: 0 auto;
		top: 10px;
	}
}

@media screen and (max-width: 500px) {
	.header-logo {
		&:after { display: none; }
		&:before { opacity:1; }
	}
}