$footerBackgroundColor: #000 !default;
$footerContentColor: #fff !default;
$footerLinkColor: #000 !default;
$footerHoverColor: #000 !default;

$copyrightBackgroundColor: #000 !default;
$copyrightContentColor: #000 !default;
$copyrightLinkColor: #000 !default;
$copyrightHoverColor: #000 !default;
$copyrightSeparatorColor: #000 !default;

/* footer */
footer {
	background-color: $footerBackgroundColor;
	color: $footerContentColor;
	padding-bottom: 40px;
	
	a {
		color: $footerLinkColor;
		&:hover { color: $footerHoverColor;}
	}
	
	.social a:after {
		@include transition-duration( 0.4s );
		@include transition-timing-function( $ease-out-back );
	}
}


/* copyright */
.copyright { 
	background-color: $copyrightBackgroundColor;
	color: $copyrightContentColor;
	position: relative; 
	font-size: 14px; 
	cursor: default; 
	text-transform: uppercase;
	margin-top: 50px;
	
	.sw {
		@include display( flex );
		@include flex-flow( row wrap );
		@include justify-content( space-between );
		@include align-items( center );
	}
	
	a {
		color: $copyrightLinkColor;
		&:hover { color: $copyrightHoverColor; }
	}
	
	ul {
		position: relative; 
		z-index: 10; 
		display: inline-block;
		padding: 12px 0;
	}
	
	li {
	
		display: inline-block; 
		border-left: 1px solid $copyrightSeparatorColor;
		margin-right: -0.25em; 
		margin-left: 5px; 
		padding-left: 5px; 
		line-height: 1;
	
		&:first-child {
			margin-left:0; 
			padding:0; 
			border: none; 
		}
	
	}
	
}

#jac { 
	width: 186px; 
	height: 25px; 
	background-size: cover;
}

@media screen and (max-width: 800px) {
	.copyright li { display: block; border: none; margin:0; padding:4px 0 !important; font-size: 14px;}
}

.footer-nav {
	text-align: center;
	ul,li { display: inline-block; }
	
	a { 
		color: #fff;
		line-height: 1;
		display: block;
		padding: 20px;
		border-radius: $buttonBorderRadius;
		text-transform: uppercase;
		&:hover { 
			background: $primaryColor; 
			color: #fff;
		}
	}
		
}

footer .social {
	margin: 20px 0;
	@include display( flex );
	@include align-items( center );
	&:before,
	&:after {
		content: "";
		height: 1px;
		background: #fff;
		display: block;
		@include flex( 1 1 auto );
	}
	
	&:before { margin-right: 10px; }
	&:after { margin-left: 10px; }
}

.footer-contact {
	text-align:center;
	font-size: 14px;
	
	span {
		position: relative;
		margin-left: 16px; 
		&:before {
			content:"";
			position: absolute;
			left: -10px; top: 0; bottom:-2px;
			border-left: 1px solid #aeaeae;
			
		}
		
		&:first-child { 
			margin:0;
			&:before { display: none; }
		}
	}
}

@media screen and (max-width: 700px) {
	
	.footer-contact {
		span {
			margin:0;
			display: block;
			&:before { display: none; }
		}
	}
}

@media screen and (max-width: 599px) {
	.footer-nav {
		ul,li { display: block; }
	}
}