$mwSizes: (75,50,25);
[class*=mw] { margin-left: auto; margin-right: auto; }
@each $mw in $mwSizes {
	.mw-#{$mw} { 
		max-width: #{$mw} + '%'; 
	}
}

.small-wrap {
	width: 800px;
	margin: 0 auto;
	max-width: 100%;
}

.hero {
	background: #fff;
	.home & .fader-item {
		padding: 150px 0 0;
		
		@media screen and (max-width: $collapseNavAt) {
			& { padding-top: 150px;}
		}
	}
	
	.home & {
		
		.hgroup,p { text-shadow: -2px 2px 2px rgba(0,0,0,0.4);  }
		
		.hgroup-title {
			color: #fff;
			text-transform: none;
		}
		.hgroup-subtitle { color: #fff; }
		.hgroup:after { border-top-color: #fff; }
		
		p { font-size: 18px; }
		
		.button:hover {
			color: #fff;
			border-color: #fff;
		}
		
	}
}

.fader-wrap { position:relative; }
.fader { margin-bottom:0; }
.fader-item {
	position: relative;
	opacity:0;
	background: center no-repeat;
	background-size: cover;
	@include transition( 0.3s opacity $ease-in-out-sine );
	&.loaded { opacity:1; }
}

/* coolest class ever */
.circle-button {
	@include t-fa-abs();
	position: relative;
	overflow: hidden;
	width: 80px; height: 80px;
	border-radius: 50%;
	border: 2px solid #fff;
	display: inline-block;
	&:before { font-size: 32px; }
	
	&,
	&:after {
		@include transition( all 0.2s $ease-in-out-sine );
	}

	&:after {
		position: absolute;
		top: -2px; left: -2px; bottom: -2px; right: -2px;
		border-radius: 50%;
		content:"";
		@include transform-origin( center );
	}
	
	a:hover &,
	&:hover {
		&:after {
			@include transform( scale(0,0) );
		}
	}
	
	&.big { 
		width: 120px; height: 120px;
		border-width: 4px;
		&:before { font-size: 40px; }
	}
	
	&.sm { 
		border: none;
		width: 44px; height: 44px;
		&:before { font-size: 20px; }
		&:after { top: 2px; left: 2px; bottom: 2px; right: 2px; }
	}
	
	&.inverse {
		&:after { @include transform( scale(0,0) ); }
		a:hover &,
		&:hover {
			&:after { @include transform( scale(1,1) ); }
		}
		
		&.primary { color: #fff; }
		
	}
	
	&.primary {
		color: #fff;
		border-color: $primaryColor;
		background: $primaryColor;
		a:hover &,
		&:hover { 
			color: $primaryColor; 
			background: transparent;
		}
		&:after { background: $primaryColor; }
	}	
	
}

/* space for sidebar */
.pl {
	padding-left: 310px;
}

/* overview grid */
.ov-grid-item {
	text-align: center;
	padding-bottom: 60px;
	position: relative;
	
	.circle-button { margin-bottom: 10px; }
	
	.btnwrap {
		position: absolute;
		bottom: 10px; left:0; right:0;
	}
	
	.hgroup-title,
	.hgroup-subtitle { color: $bodyContentColor; }
	.hgroup-subtitle { font-size: 18px; }	
	
	.dark-bg & .hgroup-title,
	.dark-bg & .hgroup-subtitle { color: $darkBackgroundContentColor; }
	
	.hgroup-title + p {
		margin-top: 15px;
	}
	
	&.alleft {
		text-align:left;
		.hgroup:after { margin-left:0; margin-right:0; }
	}
	
}

.hgroup+time {
	display: block;
	margin: -10px 0 15px;
	font-size: 16px;
}

.promo-img {
	height:0;
	padding: 50% 0 0;
	margin: 0 0 10px;
	border-radius: 12px;
}

/* rates sidebar */
.rates-wrap {
}


.rates {
	position: relative;
	z-index: 2;
	width: 250px;
	float: left;
	margin-bottom: 50px;
	margin-top: -120px;
	@include transform( translateZ(0) );

	&.rates-fixed { position: fixed; margin-top:0 !important;}
	
	.home & {
		margin-top: -240px;
	}
	
	.title {
		color: $primaryColor;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 18px;
		display:block;
		margin-top: 16px;
	}
	
	.share {
		position: absolute;
		z-index: -1;
		right:0; top: 50%;
		@include transform( translate3d(0,-50%,0) );
		@include transition( 0.2s transform $ease-in-out-sine );
		display: inline-block;
		
		&.expanded {
			@include transform( translate3d(40px,-50%,0) );
		}
		
		span {
			cursor: pointer;
			position: absolute;
			@include transform-origin( bottom right );
			@include transform( rotateZ(90deg) translate3d(0,0,0) );
			display: none;
			display: block;
			font-weight: 600;
			text-transform: uppercase;
			line-height: 1;
			text-align: center;
			padding: 10px;
			color: #fff;
			background: #efb301;
			bottom:0; right:0; width: 80px;
		}
		
		&.expanded span,
		span:hover {
			background: #c39304;
		}
		
		
		
		
		.t-fa-abs {
			color: #fff;
			background: #1a2232;
			width: 40px; height: 40px;
			
			&.fb:before { content: $fa-var-facebook; }
			&.tw:before { content: $fa-var-twitter; }
			
			&:hover {
				background: $primaryColor;
			}
			
		}
		
	}
	
	.button {
		margin: 20px 0 0;
	}
	
}
	
.rates-bg {
	position: relative;
	z-index: 2;
	padding: 30px;
	background: #f2f2f2;
	border-radius: 12px;
}

.rate-box {
	border-bottom: 1px solid #e4e4e4;
	line-height: 1;
	padding: 15px 10px;
}

.rate {
	display: block;
	font-size: 28px;
	font-weight: 600;
	color: $primaryColor;
}

.rates-contact {
	margin: -30px -30px 0;
	padding: 30px;
	border-bottom: 1px solid #e4e4e4;
	@include display( flex );
	.circle-button { 
		@include flex( 0 0 auto ); 
		margin-right: 10px;
	}
	
	strong { text-transform: uppercase; }
}

@media screen and (max-width: 950px) {

	.body {
		@include display( flex );
		@include flex-flow( column nowrap );
		.rates-wrap {
			@include order( 999 );
		}
	}

	.pl { padding-left:0; }
	.rates { 
		float: none; 
		margin-top:20px !important;
		width: auto;
		.title { display: none; }
		.button { margin:0; }
		
		.share {
			top: 100%;
			transform: none;
			left: 0;
			right: 0;
			width: 80px;
			margin: -40px auto 0;
			@include display( flex );
			@include transform( none );
			span {
				@include transform( none );
				bottom: auto;
				top: 40px;
			}
			
			&.expanded {
				@include transform( translate3d(0,100%,0) );
			}
			
		}

		
	}
	
	.rates-bg {
		@include display( flex );
		@include justify-content( center );
		@include align-items( center );
		@include flex-flow( row wrap );
		padding: 10px;
	}
	
	.rates-contact { 
		margin:0; 
		border:none;
	}
	
	.rates-contact,
	.rate-box {
		padding: 20px;
		border: none;
	}
	
}

@media screen and (max-width: 800px) {
	.rates-contact {
		@include flex( 1 0 100% );
		@include justify-content( center );
	}
	
	.rate-box {
		text-align:center;
		@include flex( 0 0 33.3333% );
	}
	
}

@media screen and (max-width: 600px) {
	.rates-bg { display: block; }
}

/* talk module in footer */
footer {
	margin-top: 50px;
}

.talk-mod {
	@include display( flex );
	width: 500px;
	margin: 0 auto -20px;
	background: #f2f2f2;
	border-radius: 12px;
	@include transform( translate3d(0,-50%,0) );
	border: 1px solid #e4e4e4;
	color: $bodyContentColor;
	text-align: center;
	overflow:hidden;
	
	.tm-item {
		@include flex( 1 1 25% );
		padding: 20px;
		border-left: 1px solid #e4e4e4;
		@include display( flex );
		@include justify-content( center );
		@include align-items( center );
		color: $bodyContentColor;
		&:first-child { 
			border: none;
		}
		
	}
	
	@media screen and (max-width: 599px) {
		& {
			@include transform( none );
			width: auto;
			margin:0 -2.5% 20px;
			border-radius:0;
			.tm-item {
				padding: 10px;
				&:first-child { display: none; }	
			}
		}
		
	}
	
	
	.title {
		text-align: left;
		font-weight: 600;
		font-size: 18px;
		text-transform: none;
	}
	
	span,a { 
		font-size: 12px;
		text-transform: uppercase;
	}
	
	a:hover {
		color: #fff !important;
		background: $secondaryColor;
	}
	
	.t-fa {
		text-align: center;
		&:before {
			font-size: 24px;
			display: block;
			color: $primaryColor;
		}
	}
	
}

.body-head {
    margin-top:  -160px;
    background:  #fff;
    padding:  40px;
    border-radius: 12px 12px 0 0;
	text-align: center;
	@media screen and (max-width: 599px) {
		padding: 20px;
		.hgroup-title { font-size: 24px; }
		.hgroup-subtitle { font-size: 18px; }
	}
	
	time {
		display: block;
		margin: 10px 0;
		text-align: center;
		color: #4a4e5a;
	}
}

.excerpt {
	color: $secondaryColor;
	font-size: 18px;
}

/* team */
.circle-wrap {
	border-radius: 50%;
	display:block;
	margin: 0 auto 10px;
	overflow:hidden;
	@include perspective( 1px );
	
	&.sm { width: 110px; }
	
	.circle {
		height:0;
		padding:0 0 100%;
	}
}

.tm-title {
	.name {
		margin:0;
	}
}

.article-body {
	padding: 0 20px;
	@media screen and (max-width: 650px) { padding:0; }
}

.body-form {
	background: #f2f2f2;
	border-radius: 12px;
	border: 1px solid #e4e4e4;
	padding: 20px;
	max-width: none;
	
	.grid {
		margin-bottom:0;
		input,
		select,
		textarea { margin:0; }
	}
	
}

.contact-info-grid {
	@include display( flex );
	margin: 20px 0;
}

.contact-info-map {
	position: relative;
	@include flex( 1 1 auto );
	iframe {
		position: absolute;
		top:0; left:0; right:0; bottom:0;
		width:100%; height:100%;
	}
}

.contact-info-block {
	margin: 0 20px 20px 0;
	.title { margin: 0 0 5px; }
}

@media screen and (max-width: 750px) {
	.contact-info {
		overflow: hidden;
	}
	.contact-info-block {
		float: left;
		width: 50%;
		min-width: 250px;
		margin: 0 0 20px;
	}
	.contact-info-grid { display: block; }
	.contact-info-map {
		height:0; padding: 0 0 56.25%;
	}
}